@import "tailwindcss";

:root {
  --bg-color: linear-gradient(100deg, #34383a 2.57%, #121516 95.91%);
  --bg-musculacao: linear-gradient(100deg, #ee9965 0%, #0b2d53 100%);
  --bg-muay-thai: linear-gradient(100deg, #555352 0%, #b2b1b1 100%);
  --bg-yoga: linear-gradient(100deg, #008e5e 0%, #005235 100%);
}

body {
  background: var(--bg-color);
  color: #fff;
}
